{% extends "base.html" %}
{% block content %}
<h2>Contáctanos</h2>
<form method="POST" class="mt-4 shadow p-4 rounded bg-white">
    <div class="form-control mb-3">
        <label class="form-label">Nombre Completo</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="form-control mb-3">
        <label class="form-label">Correo Electrónico</label>
        <input type="email" name="email" class="form-control" required>
    </div>
    <div class="form-control mb-3">
        <label class="form-label">Mensaje</label>
        <textarea name="mensaje" class="form-control" rows="4" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
</form>
{% endblock %}